
:root {
    --background-color: #161E27;
    --color-search: #fff;
    --background-button: #0085FF;
    --background-red: red;
  
    
    
}
 
.busky--home{
    background-color:var(--background-search);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
   
 
 
    
}
.busky--home--container{
    width: 100%;
 background-color: #161e27;  
 
    height: 100%;
    display: flex;
    flex-direction: row;

}
 
  

.busky--navbarx{
    width: 20%;
    height: 100%;
background-color: var(--background-color);
   
  
   display: flex;
   justify-content: flex-end;
  
}
.busky--postsx{
    width: 60%;
    height: 100%;
    background-color: var(--background-color);
    scroll-behavior: smooth;
    border-left: 0.44px solid grey;
    border-right: 0.44px solid grey;
}
.busky--search--useresx{
    width: 20%;
    height: 100%;
    background-color: var(--background-color);
    background-color: #161E27;
    display: none;
}  

/* .busky--navbar{
    width: 33%;
    height: 100%;
    background-color: var(--background-color);
   

}
.busky--postsx{
    width: 33%;
    height: 100%;
    background-color: var(--background-color);
    scroll-behavior: smooth;
    border-left: 0.44px solid grey;
    border-right: 0.44px solid grey;
}
.busky--search--useres{
    width: 34%;
    height: 100%;
    background-color: var(--background-color);
} */


 
.Discoverx{
 
    height: 90vh;
    overflow-y:auto;
    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  scroll-behavior: smooth;
  display: flex;
  flex-wrap: wrap;
 
  gap:19px;

}

.Discoverx::-webkit-scrollbar{
    display: none;
 
  
}
.busky--navbar{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    
}

 .busky--navar-seeting{
    width:60%;
    
    background-color: var(--background-color);
    /* background-color: red; */
    color: whitesmoke;
    font-weight: bold;
    font-size: large;

}
.busky--navabar--img img{
    width: 51px;
    height: 49px;
    border-radius: 100%;
    margin-top: 23px;
}
 
.busky--container--section {
   
    img{
        width: 33px;
        object-fit: contain;
        
    }
    display: flex;
    margin-top: 20px;
    gap: 16px;
 
    padding: 0px;
    span{
        font-size: 22px;
    }
    cursor: pointer;
    img:hover{
        scale:1.4;
    }
}

 
.busky--container--section-new-post .up{
    display: flex;
    margin-top:36px;
    background-color: var(--background-button);
    width: 80%;
    padding: 9px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    img{
        width: 22px;
        object-fit: contain;
        cursor: pointer;
        
    }
   
    span{
        font-size: 17px;
        font-weight:bold;
    }
}

 
.busky--container--section-new-post:hover{
    scale: 1.0999;
    cursor: pointer;
}

 .busky--search--clonex{
  
    
    margin-left: 30px;
    width: 79%;
    height: 90%;
    overflow-y: auto;
    background-color: var(--background-color);
    
    
 }
 .busky--linksx{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
   .discover{
    font-size: 17px;
    font-weight: bold;
    color: white;

   } 
   .Following{
    font-size: 17px;
    color: gainsboro;
 
   }
   .more{
    font-size: 17px;
    color:#208BFE ;
   }

 }


 .busky--links11{
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-top: 20px;
   .discover{
    font-size: 17px;
    font-weight: bold;
    color:#208BFE ;

   } 
   .Following{
    font-size: 17px;
    color:#208BFE ;
   }
   .more{
    font-size: 17px;
    color:#208BFE ;
   }
 
 }
.menuSidebar{
    width: 30px;
    display: none;
}
 @media screen and (max-width: 1299px) {
    .busky--navbar{
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        
    }
    /* .busky--search--useresx{
        display: none;
    } */
    .busky--postsx{
        width: 50%;
        height: 100%;
        background-color: var(--background-color);
        scroll-behavior: smooth;
        border-left: 0.44px solid grey;
        border-right: 0.44px solid grey;
    }

    .busky--navbar{
        width: 33%;
        height: 100%;
        background-color: var(--background-color);
        display: flex;
        justify-content: flex-end;
    
    }
  
    .busky--navar-seeting {
        width: 60%;
        background-color: rgb(14, 13, 13);
        color: whitesmoke;
        font-weight: bold;
        font-size: large;
    }

    .busky--container--section-new-post .up {
      
        display: flex;
        margin-top: 36px;
        justify-content: center;
        background-color: var(--background-button);
        width: 64%;
        padding: 9px;
        border-radius: 20px;
        align-items: center;
        gap: 10px;
    }

    .busky--navabar--img{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
   
  }

   
  @media screen and (max-width: 930px){

    .busky--navbarx{
        width: 20%;
        height: 100%;
    background-color: var(--background-color);
       
      
       display: flex;
       justify-content: flex-end;
       display: none;
      
    }

    
    .busky--navar-seeting {
        width: 60%;
        background-color: rgb(14, 13, 13);
        color: whitesmoke;
        font-weight: bold;
        font-size: large;
        .busky--container--section span{
            display: none;
        }

        .busky--container--section {
          
            display: flex;
            justify-content: center;
            align-items: center;
        }

    }
 

    .busky--navbar{
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        
    }
    /* .busky--search--useresx{
        display: none;
    } */
    .busky--postsx{
        width: 70%;
        height: 100%;
        background-color: var(--background-color);
        scroll-behavior: smooth;
        border-left: 0.44px solid grey;
        border-right: 0.44px solid grey;
    }

    .busky--navbar{
        /* width: 30%;
        height: 100%;
        background-color: var(--background-color);
        */        width: 100%;
        height: 18%;
        background-color: var(--background-color);
        position: absolute;
        z-index: 3;
        bottom: 0;
    
    }
    .busky--container--section-new-post{
        display: flex;
        justify-content: center;
        background-color: red;
    }
    
    .busky--container--section-new-post .up{
      
        display: flex;
        margin-top: 36px;
        justify-content: center;
        background-color: var(--background-button);
        width: 80%;
        padding: 9px;
        border-radius: 20px;
        align-items: center;
        gap: 10px;
    }
    .busky--navabar--img{
        display: flex;
        justify-content: center;
        align-items: center;
    }

  }

  
















.cards--busky-freind{
    
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    margin: 10px;
    h2{
        font-size: 14px;
         
        color: white;
        font-weight: bold;
    
    }
    .add{
        width: 100%;
    }

}











@media screen and (max-width:630px){
 
    .busky--navar-seeting {
        width: 100%;
        height: 13vh;
        background-color: #f5356e;
        color: whitesmoke;
        font-weight: bold;
        font-size: large;
        display: flex;
        justify-content: space-around;
        position: absolute;
        bottom: 25px;
    }
    .screenSizex{
        cursor: pointer;
        margin-top: 3px;
        
        padding: 3px;
        img{
            width: 24px;
        }
    }

    .busky--postsx{
        width: 100%;
        height: 100%;
      background-color: var(--background-color);  
         
        scroll-behavior: smooth;
        border-left: 0.44px solid grey;
        border-right: 0.44px solid grey;
    }
    .busky--navbar{
        width: 0%;
        height: 100%;
        background-color: var(--background-color);
       display: none
    
    }
    .openside{
    
            display: flex;
            width: 100%;
            height: 61px;
         
            z-index: 3;
            position: absolute;
            bottom: 0;
           
    }

    .busky--container--section-new-post{
        /* background-color: #1a1f26;
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
         cursor: pointer;
         margin-left: auto; */
         background-color: transparent;
         width: 15%;
         display: flex;
         justify-content: center;
         align-items: center;
         cursor: pointer;
         margin-left: auto;
         /* display: none; */
         position: absolute;
         /* left: 0; */
         right: 0;
        top: -79px;
    }
    .busky--container--section-new-post .up {
        display: flex;
        margin-top: 36px;
        justify-content: center;
        background-color: var(--background-button);
        width: 40px;
        padding: 9px;
        border-radius: 20px;
        align-items: center;
        gap: 10px;
        border-radius: 100%;
        object-fit:cover ;
        span{
            display: none;
        }
    }
    .menuSidebar{
        width: 30px;
        display: block;
    }
    .busky--home{
        background-color:var(--background-search);
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .busky--search--clonex{
  
    
        margin-left: 0px;
        width: 50%;
        height: 99%;
        overflow-y: auto;
        background-color: var(--background-color);
        background-color: #161E27;
        position: absolute;
        right: 0;
        margin-top: 5px;
 
    
        
         

    
        
     }

}


.card-wrapp--acount{
    background-color: #12161b;
    border-radius:20px;
    display: flex;
    padding: 10px;
    gap: 10px;
    
    align-items: center;
    .left--card-account{
         
        padding: 3x;
        width: 30%;
        display: flex;
        flex-direction: column;
        gap: 3px;
    }
    h2{
        font-weight: bold;
        font-size: large;
    }
    p{
        font-size: 13px;
        color: grey;
    }.messageme{
        color: white;
        font-weight: bold;
    }

   
}

 
.wrapUsersAccount{
    background-color: #161E27;
    height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-x: auto;
     scroll-behavior: smooth;
     -ms-overflow-style: none;  /* IE and Edge */
     scrollbar-width: none;
}
.headersMessages{
     
    width: 100%;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1{
        font-size: 30px;
        font-weight: bold;
    }
}
