.Question{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    .QuestionInside{
        display: flex;
        width: 70%;
        flex-direction: column;
        gap: 10px; 
        background-color: rgb(166, 164, 160);
    }
    .Reall__Question__Tag{
        display: flex;
       
    }
    .Reall__Question__Tag h2{
        background-color: grey;
        margin: 2px;
        padding: 5px;
        font-size: 14px;
        border-radius: 10px;
    }
    .Votes{
        display: flex;
        flex-direction: column;
    }
    .Reall__Question{
        color:#1B75D0;
        font-weight: bold;
        font-size: 20px;
        text-indent: 10px;
    }
     .Reall__Question:hover{
        color: blue;
        cursor: pointer;
     }
}
