/* Container for the reply form */
.text-box {
    width: 100%;
    background-color: #0E1217;
    padding: 10px;
    border-radius: 8px;
  }
  
  /* Box container styling */
  .text-box .box-container {
    background-color: #0E1217 ;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Textarea styling */
  .text-box textarea {
    width: 100%;
    height: 50px;
    resize: none;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 10px;
    font-size: 14px;
    outline: none;
  }
  
  /* Formatting container styling */
  .text-box .formatting {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
  }
  
  /* Send button styling */
  .text-box .formatting .send {
    width: 36px;
    height: 36px;
    background-color: #0a84ff;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  /* Hover effect for send button */
  .text-box .formatting .send:hover {
    background-color: #026eda;
  }
  
  /* SVG icon styling within the button */
  .text-box .formatting .send svg {
    fill: #ffffff;
  }
  
  /* Ripple animation effect */
  @keyframes ripple {
    0% {
      transform: scale(0);
      opacity: 0.6;
    }
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }
  
 .EmojiFpramtingx{
    position: absolute;
    top:1570px;
    margin-left: 10px;
 }

 
 .sendWIthme{
  width: 80%;
  padding: 10px;
  border: none;
  text-align: center;
  border: 1px solid grey;
 }
 


 /* Hide the default input file */
input[type="file"] {
  display: none;
}

.custom-file-upload {
  display: inline-block;
  padding: 8px 12px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.custom-file-upload:hover {
  background-color: #0056b3;
}

.upload-icon {
  margin-right: 6px;
}

/* Image Preview */
.image-preview img {
  display: block;
  margin-top: 10px;
  width: 100px;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container--file--Upload--Join{
 
  display: flex;
  align-items: center;
  
}
.containerDispalyImage img{
  width: 200px;
  object-fit: cover;
}

 