.reallchat{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container--reallchat{
    width: 100%;
    height: 100vh;
    background-color: rgb(44, 44, 45);
    display: flex;
    justify-content: center;
 
}
    
.chatPage {
    width: 40%;
    height: 100%;
    background-color: #161E27;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid grey;
  
}
 
.card-wrapp--acountx{
 
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    position: sticky;
}
 
.itemcards{
   
    width: 40%;
    display: flex;
    gap: 10px;
}
.user-info-chat-block{
    font-size: 40px;
}


.scrennMessage{
 
    width: 100%;
    height: 100%;
    overflow-x: auto;
    scrollbar-width: none;
}

.current{
    background-color:#fff ;
    padding: 10px;
    width: 30%;
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0px 0px 13px 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4px;
    color: black;
}



.diffcurrent{
    background-color:#208BFE ;
    color: black;
    padding: 10px;
    width: 30%;
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0px 0px 13px 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: 10px;
}

.messgehelp{
    background-color: green;
    display: flex;
    justify-content: flex-end;
    gap: 3px;
}
.righttarck{
display: flex;
justify-content: flex-start;
}
 

.oneToOne{
    width: 40%;
    padding: 10px;
     
     h2{
        background-color: white;
        color: black;
        margin: 10px;
        border-radius: 10px;
        padding: 2px;
        width: 100%;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     }
      
    }

.SpecailVoice{
 
       width: 60%;
       padding: 10px;
       margin-left: auto;
       h2{
           background-color: white;
           color: black;
           margin: 10px; background-color:transparent ;
           border-radius: 10px;
           padding: 4px;
           width: 100%;
        }

      

}

.SpecailVoice2{
 
 
    width: 40%;
    padding: 10px;
     
     h2{
        background-color: white;
        color: black;
        margin: 10px;
        border-radius: 10px;
        padding: 2px;
        width: 100%;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     }
   

}

.oneToneLeft{
    width: 40%;
    padding: 10px;
    margin-left: auto;
    h2{
        background-color: white;
        color: black;
        margin: 10px; 
        /* background-color:#208BFE ; */
        background: linear-gradient(135deg, #833ab4, #5851db, #405de6);

        border-radius: 10px;
        padding: 4px;
        width: 100%;
     }
     
}
    

.containerSeeTheCurrentImages{
   
    background-color: beige;
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.currentImg img {
    width: 100%;
     height:480px;
    object-fit: cover;
}
.currentImg{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}

.containeraddxsrgr{
 
    display: flex;
    justify-content: flex-end;
}




/* .content{
    background-color: red;
    width: 70%;
}
.contentimg{
 
     background-color: red;
     width: 50%;
} */
 

@media only screen and (max-width: 600px) {
  
.chatPage {
    width: 100%;
    height: 100%;
    background-color: #161E27;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid grey;
}

.containerSeeTheCurrentImages {
    background-color: beige;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 98%;
    cursor: pointer;
}

  }












  .coiseClor{
     
    width: 90%;
    height: 400px;
    background-color: rgba(45, 66, 106, 0.75);
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    position: absolute;
    top: 57px;
    left: 24px;
    overflow-y: auto;

   
  }

  .wallper1{
    width: 30%;
   
  }
.wallper1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}




.offSection{

     color: white;
    position: absolute;
    right: 5px;
    top: -11px;
    cursor: pointer;
    font-size: 45px;
}




@media only screen and (max-width: 900px) {
    .coiseClor {
        width: 90%;
        height: 400px;
        background-color: rgba(45, 66, 106, 0.75);
        display: flex;
        flex-wrap: wrap;
        gap: 3px;
        position: absolute;
        top: 57px;
        left: 24px;
        overflow-y: auto;

    }
    
  }


